@import url('../styles/variabes.css');

.button_small {
    padding: 3px 12px;
    font-size: 14px;
    border-radius: var(--button-radius);
    border: none;
    cursor: pointer;
    background-color: var(--primary-color);
    color: white;
}

.flex_warp {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}