.wrapper{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.container {
    margin-top: auto;
    max-width: var(--max-width-app);
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 55px;
    width: 100%;
}