.container{
    max-width: var(--max-width-app);
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}

.favorites__list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-border);
    padding: 5px;
    border-radius: 7px;
}

.image{
    height: 50px;
    width: 50px;
}

.button{
    height: 50px;
    width: 100px;
}